$brand-primary:         darken(#1abc9c, 6.5%) !default; // #337ab7
$brand-success:         #2ecc71 !default;
$brand-info:            #3498db !default;
$brand-warning:         #f39c12 !default;
$brand-danger:          #e74c3c !default;

$navbar-height:                    60px !default;

$font-size-base:             14px !default;

$padding-base-vertical:     10px !default;
$padding-base-horizontal:   10px !default;

$line-height-base:        1.4285714286 !default;
